---
interface Props {
  title: string;
  icon: string;
  link: string;
  content: string;
}

const { title, icon, link, content } = Astro.props;
---

<a href={link} class="w-full h-full">
  <div class="contact__card !bg-white dark:!bg-gray-800 space-y-2">
    <i class={`bx bx${icon} contact__card-icon`}></i>
    <h3 class="text-center font-semibold ">{title}</h3>
    <p class="text-sm ">{content}</p>
    <a href={link} class="contact__button font-normal hover:font-medium" target="blank"
      >Write me{" "}<i class="bx bx-right-arrow-alt contact__button-icon"
      ></i></a
    >
  </div>
</a>
