---
interface Props {
  title: string;
  icon: string;
  link: string;
  content: string;
}

const { title, icon, link, content } = Astro.props;
---

<a href={link} class="w-full h-full">
  <div class="contact__card">
    <i class={`bx bx${icon} contact__card-icon`}></i>
    <h3 class="contact__card-title">{title}</h3>
    <span class="contact__card-data">{content}</span>
    <a href={link} class="contact__button" target="blank"
      >Write me{" "}<i class="bx bx-right-arrow-alt contact__button-icon"
      ></i></a
    >
  </div>
</a>
