---

import { footerLinks, socialIcons } from "./data.ts";
const currentYear = new Date().getFullYear();
---

<footer class="border-t bg-white h-full">
  <div class="container flex flex-col items-center gap-8 px-4 py-12 md:py-16 ">
    <a
      href="/"
      class="text-2xl font-bold tracking-tight transition-colors hover:text-primary"
    >
      Kevin Bravo
    </a>
    <nav class="flex gap-6" aria-label="Footer navigation">
      {
        footerLinks.map(({ name, link }) => (
          <a
            href={link}
            class=" hover:font-medium hover:text-black  text-sm font-medium text-muted-foreground transition-colors hover:text-primary"
          >
            {name}
          </a>
        ))
      }
    </nav>

    <div class="flex gap-4">
      {socialIcons.map(({ icon, link }) => <a target='_blank' href={link} class={`hover:font-bold hover:text-black text-2xl ${icon}`} />)}
    </div>

    <p class="text-sm text-muted-foreground">
      Kevin Bravo. {currentYear} © All rights reserved
    </p>
  </div>
</footer>
