---
import Footer from "@components/footer/Footer.astro";
import { formatDateToDisplay, getReadingTime } from "@lib/utils";
import type { CollectionEntry } from "astro:content";
import Toc from "@components/Toc/Toc.svelte";
import "@styles/global.css";
import Navbar from "../components/header/Navbar.svelte";

interface Props {
  blog: CollectionEntry<"blogs">;
  tableOfContents: { text: string; depth: number; slug: string }[];
}

const { blog } = Astro.props as Props;
const readingTime = getReadingTime(blog.body);
const publishDate = formatDateToDisplay(blog.data.pubDate);
---

<!doctype html>
<html lang="en">
  <head>
    <script>
      if (localStorage.getItem("darkMode") === "true") {
        document.documentElement.classList.add("dark");
      }
    </script>
    <meta charset="UTF-8" />
    <meta name="description" content={blog.data.description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/android-icon-192x192.png"
    />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    {
      blog.data.canonicalURL ? (
        <link rel="canonical" href={blog.data.canonicalURL} />
      ) : null
    }

    <meta name="generator" content={Astro.generator} />
    <title>0b | {blog.data.title}</title>
  </head>
  <header>
    <Navbar client:only="svelte" shouldFixed={false} />
  </header>
  <body>
    <main>
      <article
        class="max-w-[52rem] mx-auto pb-16 pt-8 space-y-5 px-4 md:px-0 p-4"
      >
        <div class="flex gap-2">
          <a
            href="/0b"
            class="border font-medium border-black dark:border-gray-600 dark:hover:bg-gray-600 py-1.5 px-3 rounded-md hover:bg-black hover:text-white transition-colors"
          >
            Back to blog
          </a>
          <a
            href="/"
            class="border font-medium border-black dark:border-gray-600 dark:hover:bg-gray-600 py-1.5 px-3 rounded-md hover:bg-black hover:text-white transition-colors"
          >
            Back to main page
          </a>
        </div>

        {
          blog.data.image ? (
            <div
              style={{ position: "relative", width: "100%", height: "350px" }}
            >
              <img
                src={blog.data.image.url}
                alt={blog.data.image.alt}
                class="w-full h-full object-cover top-0 left-0 right-0 absolute rounded-lg"
              />
            </div>
          ) : null
        }
        <h1
          class="text-3xl md:text-4xl font-extrabold tracking-tight lg:text-5xl"
        >
          {blog.data.title}
        </h1>
        <div
          class="flex flex-wrap items-center gap-x-4 gap-y-2 text-xs md:text-sm text-gray-500 dark:text-gray-300 mb-4"
        >
          <div class="flex items-center gap-1 hover:text-black">
            <i class="bx bx-calendar text-lg"></i>
            <time datetime={publishDate}>{publishDate}</time>
          </div>
          <div class="flex items-center gap-1 hover:text-black">
            <i class="bx bx-time text-lg"></i>
            <span>{readingTime} Min Read</span>
          </div>
          {
            blog.data.canonicalURL ? (
              <div class="flex items-center gap-1">
                <i class="bx bx-globe text-lg" />

                <p>Originally published on</p>
                <a
                  href={blog.data.canonicalURL}
                  class="truncate text-ellipsis max-w-32 hover:text-black"
                >
                  {blog.data.canonicalURL}
                </a>
              </div>
            ) : null
          }
        </div>
        <div
          class="prose-sm lg:prose-lg max-w-none prose-code:before:hidden prose-code:after:hidden prose-code:bg-gray-800 prose-code:text-gray-100 prose-code:font-extralight prose-code:text-sm prose-code:font-mono prose-code:py-1 prose-code:px-2 prose-code:rounded-md dark:text-gray-200 dark:prose-blockquote:text-gray-200 dark:prose-strong:text-white dark:prose-em:text-gray-300 dark:prose-headings:text-white
          dark:prose-a:text-gray-300"
        >
          <slot />
        </div>
      </article>
      <aside class="fixed top-14 bottom-0 left-0 md:left-[81%] right-0">
        <Toc client:only="svelte" />
      </aside>
    </main>
  </body>
  <Footer />


</html>
